<div class="ui secondary pointing menu">
  <div class="ui container">
    <div class="header item">
      <h2><img class="logo" src="/assets/images/logo_zissou2.png"></h2>
    </div>
    <div class="right menu">
      <a [routerLink]="['/dashboard']" routerLinkActive="active" class="item">
        Dashboard
      </a>
      <a [routerLink]="['/login']" class="ui item">
        Logout
      </a>
      <div class="ui item">
        <a class="ui compact red labeled icon button" [routerLink]="['/dashboard/new']">
          <i class="plus icon"></i>
          Add Project
        </a>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
