<div class="ui grid">
  <div class="four wide column"></div>
  <div *ngIf="eligible" class="eight wide column">
    <sm-progress [progress]="progress"></sm-progress>
    <sm-segment>
      <small>Question {{currentQuestion + 1}} / {{ questions.length }}</small>
        <i class="help icon" (click)="collapse = !collapse"></i>
      <div class="question">
        {{ questions[currentQuestion] }}
      </div>
      <div class="collapsable" [@collapse]="collapse ? 'closed': 'open'">
        {{ information[currentQuestion] }}
      </div>
      <div class="questionnaire-buttons">
        <div class="ui fluid buttons">
          <button class="ui labeled icon button" (click)="yesClicked()">
            <i class="check icon"></i>
            Yes
          </button>
          <button class="ui right labeled icon button" (click)="noClicked()">
            <i class="remove icon"></i>
            No
          </button>
        </div>
      </div>
    </sm-segment>
  </div>
  <div *ngIf="!eligible" class="eight wide column">
    <div class="ui negative message">
      <div class="header">
        Keep in mind
      </div>
      {{ information[currentQuestion] }}
    </div>
    <div class="ui fluid buttons">
      <a class="ui button" [routerLink]="['/dashboard']">
        Return to dashboard
      </a>
      <button class="ui button" (click)="resume()">
        Continue anyway
      </button>
    </div>
  </div>
  <div class="four wide column"></div>
</div>

<div class="ui two column grid">
  <div class="column">
    <button class="ui yellow button" (click)="previousClicked.emit(undefined)">
      Previous Step
    </button>
  </div>
</div>
