i {
  cursor: pointer;
}

.question {
  font-size: 16pt;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 40px;
}

.questionnaire-buttons {
  width: 50%;
  margin: auto;
}

.collapsable {
  overflow: hidden;
  margin-bottom: 20px;
}
